@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Sacramento&display=swap");

main {
  text-decoration: none;
  line-height: 1.5;
  padding: 2vh;
  font-family: "Dancing Script", cursive;

  text-align: center;
  padding-left: 20vh;
  padding-right: 20vh;
  font-size: large;
}

.searchBox {
  border-radius: 5px;
  padding: 0.5vh;
  display: inline-block;
  margin-bottom: 2vh;
  border-style: inherit;
  box-shadow: 0 0 5px #aeaeae;
}

.secondSearhBox {
  background-color: rgba(245, 245, 245, 0.719);
  border-radius: 5px;
  padding: 0.5vh;
  display: inline-block;
  margin-bottom: 2vh;
  width: 20px;
}

.card {
  margin: 20px;
  display: inline-block;
}

.card-title {
  font-weight: 600;
  font-size: x-large;
}
.card-subtitle,
.card.text {
  font-weight: 800;
  font-size: medium;
  color: black;
}

.recepyCard {
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
  height: 180px;
}

.linkText {
  font-size: large;
}

.singleCard {
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
  height: 800px;
}

.Form.Label htmlFor {
  font-size: xx-large;
}

.Footer {
  position: absolute;
  bottom: 0;
  margin-top: 100px;
}

.about {
  margin-top: 20px;
  margin-bottom: 50px;
}
