body {
  background-color: rgba(248, 237, 222, 0.986);
  margin: 0 auto;
}

.App-Header {
  display: flex;
  height: 8vh;
  background-color: #212529;
}

button {
  padding: 1rem;
  margin-top: 1rem;
}
