body {
  background-color: blanchedalmond;
  margin: 0 auto;
}

.App-Header {
  display: flex;
  height: 10vh;
  border: 1px solid rgb(102, 102, 102);
}

.Main {
  display: flex;
  height: 82vh;
  border: 1px solid rgb(102, 102, 102);
}

.Footer {
  display: flex;
  height: 8vh;
}
