.circle {
  background-color: gray;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.even {
  background-color: hotpink;
}

.odd {
  background-color: rgb(189, 175, 51);
}

body {
  background-color: rgb(205, 205, 219);
}

button {
  background-color: lightpink;
  display: inline-block;
  margin: 2px;
}
